/*
Made w/ ♥ by Artx999
If you steal this, you owe me a blowie ;)
 */

/* Font-faces */
@font-face {
    font-family: "Square Boi";
    src: url("../fonts/square-boi.ttf");
}

/* Global shit */
:root {
    --primary: #f28322;
    --not-quite-black: #23272a;
    --black: #000000;
    --white: #ffffff;
    --dark-orange: #bf702a;
    --nav-height: 5em;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: "Square Boi";
    font-size: 6rem;
}

/* Default classes */
.view-width {
    width: 80vw;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
nav {
    background-color: var(--not-quite-black);
    font-family: "Square Boi";
    height: var(--nav-height);
}
nav #logo {
    height: calc(var(--nav-height) - 1em);
}
nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    list-style-type: none;
    font-size: 2.5rem;
    padding: 0;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}
nav ul li a .uil-shopping-cart {
    color: var(--primary);
}
/* Definitely needs more work */
nav ul li #cart-quantity {
    position: absolute;
    top: -1em; right: -1em;
    background-color: var(--white);
    color: var(--primary);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    border: var(--not-quite-black) 0.2em solid;
}

/* Main */
main {
    min-height: calc(100vh - var(--nav-height));
}

/* Footer */
footer {
    background-color: var(--not-quite-black);
    height: 10em;
    font-family: "Square Boi";
    color: white;
}
footer h1 {
    font-size: 2.5rem;
}
footer a {
    text-decoration: none;
    color: white;
}
footer #footer-name {
    font-size: 4rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

/* Home */
header#header-home {
    height: calc(100vh - var(--nav-height));
    background-image: url("../documentation/datashop-header.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--not-quite-black);
}

/* Catalog */
main#catalog section {

}
.catalog-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px black solid;
    font-family: "Square Boi";
}
.catalog-product-left {
}
.catalog-product-middle {
}
.catalog-product-right {
}
.catalog-product img {
    height: 10em;
}

/* Cart */
#checkout-page {
    display: none;
    width: 100%;
    top: calc(var(--nav-height) + 2em);
    background-color: var(--not-quite-black);
    color: var(--white);
}

/* Orders */
#orders-output {
    display: none;
}

/* Contact */
#map {
    height: 50vh;
    width: 50%;
    float: right;
}
#contact-info {
    width: 50%;
    display: inline-block;
}

/* Formats */
#formats-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#formats-table p {
    margin: 1rem;
}

/* +/- button */
input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}